.testimonials-container {
    margin-top: 1em;
    border: 1px solid black;
    padding: 1em;
}

.testimonial {
    display: flex;
    border: 1px solid black;
    align-items: center;
    background-color: #2545B8;
    color: white;
    position: relative;
    max-width: 1000px;
    padding: 50px 50px 50px 410px;
}

.testimonial img {
    position: absolute;
}