.testimonials-container {
    margin-top: 1em;
    border: 1px solid black;
    padding: 1em;
}

.testimonial {
    margin-top: 60px;
    margin-bottom: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    height: 300px;
    position: relative;
    background-color: #2545B8;
    color: white;
    padding: 2rem;
}

.info {
    width: 60%;
    margin-left: 350px;
}

.testimonial img {
    position: absolute;
    width: 30%;
    top: -40px;
}